.home-container{
    background:#c4e0e5;
    /* background:linear-gradient(39.97deg, #03d6f3 0.79%, #458ff6 79.29%); */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    overflow: auto;
    padding : 100px 10%;
    min-height: 100vh;
    box-sizing: border-box;
}
.dd{
    background: linear-gradient(to left,
    #d71e7e,
    #14a9ea);
-webkit-background-clip: text;
color: transparent; 
font-size:60px;
font-weight:800;

}

.header-text{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    

}

.header-text > h3{
    font-family: poppins;
    font-style: normal;
    font-weight: 1;
    font-size:36px;
    line-height:32px;
    /* text-align: center; */
    letter-spacing:0.2px;
    color:black;
    margin-bottom: 30px;

}

.header-text > p{
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size:46px;
    line-height:20px;
    color:#000;
    margin: 10px 0px 30px 0px;

}

.head-btns{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    /* margin:35px 10px; */

}
.btn{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding:0px 36px;
    height:52px;
    left :0;
    top:0px;
    text-decoration:none;
    /* box-shadow:0px 4px 31px rgba(0,0,0,0.15); */
    border-radius: 39px;
    margin:4px;
}

.btn-white{
    background: #FFF;
    color:#112d57;
}
.btn-transparent{
    border:1px solid #000;
    box-sizing: border-box;
   color:#000;

}
.btn-white:hover, .btn-transparent:hover{
    box-shadow:1px 10px 32px rgba(0,0,0,0.45);
    transition: all 0.5s ease-in-out;


}
.btn-text{
    font-family: poppins;
    font-style: normal;
    font-weight:500;
    font-size:16px;
    line-height:16px;
    letter-spacing: 0.2px;
    text-align: center;
}

.splash-image{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.home-anime{
    margin-bottom:-80px;
}

@media only screen and (max-height:550px){
    .home-anime{
        width:400px;
    }
}

@media only screen and (max-width:640px){
    .home-anime{
        width:80%;
        align-self:center;
        margin-bottom: -20px;
    }
}

.head-btns{
    margin:10px 10px 35px 10px;
}